<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/exporting.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('client_connect', {data: 'I\'m connected!'});
        });

        socket.on('numbers_of_people',function(message){
            console.log(message);
            var obj = eval(message);
            var result = obj["data"].split(",");
            $('#women').html(result[0]);
            $('#men').html(result[1]);
        });

        socket.on('connected',function(){
            console.log('connected');
        });

        socket.on('disconnect', function () {
            console.log('disconnect');
        });
    </script>
</head>
<body>
<div>
    <b>Women: </b><b id="women"></b>
    <b>men: </b><b id="men"></b>
</div>
<div id="container" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        Highcharts.chart('container', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series1 = this.series[0];
                        var series2 = this.series[1];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                count1 = $('#women').text();
                            y = parseInt(count1);
                            series1.addPoint([x, y], true, true);

                            count2 = $('#men').text();
                            z = parseInt(count2);
                            series2.addPoint([x, z], true, true);
                        }, 1000);
                    }
                }
            },
            title: {
                text: 'Analyse les sex des clients'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 50
            },
            yAxis: {
                title: {
                    text: '数量'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: true
            },
            exporting: {
                enabled: true
            },
            series: [{
                name: 'le nombre des filles',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
            },
                {
                    name: 'le nombre des hommes',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                            time = (new Date()).getTime(),
                            i;

                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: Math.random()
                            });
                        }
                        return data;
                    }())
                }]
        });
    });
</script>
</body>
</html>